{% extends "asterisms/base.html" %}
{% load static %}
{% block nav-home %}active{% endblock %}
{% block title %}Sky Cultures Home{% endblock %}
{% load asterisms_extra_filters %}
{% load asterisms_remove_culture_designation  %}

{% block body %}


<div class="container">
    <div class="row">
        <div class="col-12" id="title">
            <br>
            <br>
            <br>
            <h1> {{ c }} asterisms<br></h1>
            <div class="row" id="about">
                <div class="column-10" id="about">
                    <p id="designator"><a href="/asterisms/"> all cultures</a> / <a href="/asterisms/{{ cultureregion }}/">{{ cultureregion|name_format }} </a> / {{c}} </p>
                    <br>
                    <br>
                    <br>
                    <br>
                </div>
            </div>
        </div>
    </div>

            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>


    <div class="row">
        <div class="col-2" id="region_index">
            <br>
            <div id="collapsegroup">
                <div>
                    <button id="regionbutton" class="btn btn-link" type="button"><a href="/asterisms/iau_designated_asterisms/western" id="regionbutton"> Offical IAU Asterisms </a> </button>
                </div>
                <div>
                    <button id="regionbutton" class="btn btn-link" type="button" data-bs-toggle="collapse" data-bs-target="#Africa" aria-expanded="false" aria-controls="collapseExample">Africa + </button>
                </div>
                <div class="collapse" id="Africa">
                    <ul>
                        <li> <a href="/asterisms/north_africa" id="regionlink">North Africa </a> </li>
                    </ul>
                </div> 
                <div>
                    <button id="regionbutton" class="btn btn-link" type="button" data-bs-toggle="collapse" data-bs-target="#Americas" aria-expanded="false" aria-controls="collapseExample">Americas + </button>
                </div>
                <div class="collapse" id="Americas">
                    <ul>
                        <li> <a href="/asterisms/central_america" id="regionlink">Central America </a> </li>
                        <li> <a href="/asterisms/north_america" id="regionlink">North America </a> </li>
                        <li> <a href="/asterisms/south_america" id="regionlink">South America </a> </li>
                    </ul>
                </div>
                <div>
                    <button id="regionbutton" class="btn btn-link" type="button" data-bs-toggle="collapse" data-bs-target="#Asia" aria-expanded="false" aria-controls="collapseExample">Asia + </button>
                </div>
                <div class="collapse" id="Asia">
                    <ul>
                        <li> <a href="/asterisms/eastern_asia" id="regionlink">Eastern Asia </a> </li>
                        <li> <a href="/asterisms/northern_asia" id="regionlink">Northern Asia </a> </li>
                        <li> <a href="/asterisms/southern_asia" id="regionlink">Southern Asia </a> </li>
                        <li> <a href="/asterisms/western_asia" id="regionlink">Western Asia </a> </li>
                    </ul>
                </div>
                <div>
                    <button id="regionbutton" class="btn btn-link" type="button" data-bs-toggle="collapse" data-bs-target="#Europe" aria-expanded="false" aria-controls="collapseExample">Europe + </button>
                </div>
                <div class="collapse" id="Europe">
                    <ul>
                        <li> <a href="/asterisms/eastern_europe" id="regionlink">Eastern Europe </a> </li>
                        <li> <a href="/asterisms/northern_europe" id="regionlink">Northern Europe </a> </li>
                        <li> <a href="/asterisms/southern_europe" id="regionlink">Southern Europe </a> </li>
                    </ul>
                </div>
                <div>
                    <button id="regionbutton" class="btn btn-link" type="button" data-bs-toggle="collapse" data-bs-target="#Oceania" aria-expanded="false" aria-controls="collapseExample">Oceania + </button>
                </div>
                <div class="collapse" id="Oceania">
                    <ul>
                        <li> <a href="/asterisms/australasia" id="regionlink">Australasia </a> </li>
                        <li> <a href="/asterisms/polynesia" id="regionlink">Polynesia </a> </li>
                    </ul>
                </div>
            </div>
        </div>
             <!--
            <ul id="regionlist"> 
                <li> <a href="/asterisms/iau_designated_asterisms/western" id="regionlink"> Offical IAU Asterisms </a> </li>
                <br> 
                <li id="continent"> Africa </li>
                    <li> <a href="/asterisms/north_africa" id="regionlink">North Africa </a> </li>
        
                <li id="continent"> Americas </li>
                    <li> <a href="/asterisms/central_america" id="regionlink">Central America </a> </li>
                    <li> <a href="/asterisms/north_america" id="regionlink">North America </a> </li>
                    <li> <a href="/asterisms/south_america" id="regionlink">South America </a> </li>
                    
                <li id="continent"> Asia </li>
                    <li> <a href="/asterisms/eastern_asia" id="regionlink">Eastern Asia </a> </li>
                    <li> <a href="/asterisms/northern_asia" id="regionlink">Northern Asia </a> </li>
                    <li> <a href="/asterisms/southern_asia" id="regionlink">Southern Asia </a> </li>
                    <li> <a href="/asterisms/western_asia" id="regionlink">Western Asia </a> </li>
                    
                <li id="continent"> Europe </li>
                    <li> <a href="/asterisms/eastern_europe" id="regionlink">Eastern Europe </a> </li>
                    <li> <a href="/asterisms/northern_europe" id="regionlink">Northern Europe </a> </li>
                    <li> <a href="/asterisms/southern_europe" id="regionlink">Southern Europe </a> </li>
                    
                <li id="continent"> Oceania </li>
                    <li> <a href="/asterisms/australasia" id="regionlink">Australasia </a> </li>
                    <li> <a href="/asterisms/polynesia" id="regionlink">Polynesia </a> </li>
            </ul>
        </div>
    -->
            <div class="col-10" id="figures">
                <div class="row">
                    {% if asterism_list %}
                    {% for asterism in asterism_list %}
                    <div class="col-3">
                        <figure class="asterismfigure">
                            <a href= "{{ asterism }}"> 
                                <img src="{% static "asterisms/images/starexamplebright.jpeg" %}" alt="example image" class="img-thumbnail">
                                <figcaption> {{ asterism|rem_desig }} </figcaption>
                            </a>
                        </figure>
                    </div>
                    {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>



<br>
<br>
<br>



<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>

</body>

{% endblock %}


